*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.box{
    border: 1px solid black;
    height: 300px;
    width: 300px;
    text-align: center;
    line-height: 300px;
}
#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}

#blue{
    background-color: blue;
}

#green{
    background-color: green;
}
